<!-- doctorDashboard.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Doctor Dashboard</title>

    <!-- Favicon -->
    <link rel="icon" href="../assets/images/logo/Logo.png">

    <!-- Styles -->
    <link rel="stylesheet" href="../assets/css/adminDashboard.css">
    <link rel="stylesheet" href="../assets/css/doctorDashboard.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <!-- Scripts -->
    <script src="../js/util.js" defer></script>
    <script src="../js/render.js" defer></script>
    <script src="../js/components/header.js" defer></script>
    <script src="../js/components/footer.js" defer></script>
    <script src="../js/services/doctorDashboard.js" defer></script>
    <script src="../js/services/patientRecordService.js" defer></script>
</head>

<body onload="renderContent()">

    <!-- Main Container -->
    <div class="container">
        <div class="wrapper">

            <!-- Header -->
            <div id="header"></div>

            <!-- Main Content -->
            <main class="main-content">
            <div>
                <input type="text" id="searchBar" class="searchBar" placeholder="Search Bar for custom output" />

                <button class="adminBtn" id="todayButton">Today's Appointments</button>
                    
                <label for="datePicker">Select Date:</label>
                <input type="date" id="datePicker">
            </div>

            <!-- Patient Records Table -->
            <div class="table-container">
                <table id="patientTableBody">
                    <thead>
                        <tr>
                            <th>Patient ID</th>
                            <th>Name</th>
                            <th>Phone No</th>
                            <th>Email</th>
                            <th>Prescription</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Dynamic rows injected via JS -->
                    </tbody>
                </table>
                </div>
            </main>

            <!-- Footer -->
            <div id="footer"></div>

        </div>
    </div>
</body>
</html>
